* {
  --webkit-print-color-adjust: exact;
    color: #3E4E5A;
    font-family: ProximaNova-Extrabld, tahoma, verdana, arial, sans-serif !important; 
}
body{
    padding: 0px;
    margin: 0px;
}
img {
    display: block;
    margin: auto;
}
/*Page Header CSS*/
#pageHeader{
    height: 55px !important;
    background-color: #202020;
}
/* This is where your markdown content is placed */
#pageContent{
    padding: 0px 1in;
}
#pdf-logo{
    height: 42px;
    width: 140px;
    margin: 7px 0px 10px 10px;
    float: left;
}
#pdf-header{
    color: white;
    float: right;
    margin: 0px 15px; 
    line-height: 55px;    
}
